@font-face {
  font-family: "Graphik";
  font-weight: 600;
  src:url("../fontslesson8/Graphik-Semibold.woff2") format("woff2"),
  url("../fontslesson8/Graphik-Semibold.woff") format("woff"),
  url("../fontslesson8/Graphik-Semibold.ttf") format("truetype");
  /*указываем ссылку и 
  прописываем полное название формата*/
  /*можно біло добавить еще один формат
   url("../fonts/Roboto-Medium.woff") format("woff");
   url("../fonts/Roboto-Medium.woff2") format("woff2");*/
}

@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src:local("Graphik"),
  url("../fontslesson8/Graphik-Regular.woff2") format("woff2"),
  url("../fontslesson8/Graphik-Regular.woff") format("woff"),
  url("../fontslesson8/Graphik-Regular.ttf") format("truetype");
}