@import '.fontlesson8.css';

:root{
--white: #fff;
--light-grey:#eeee;
--primary:#ff6336;
--primary-bg:#ff9c70;
--yellow-bg:#fff8e4;
--black:#000000;
}

*{
margin: 0;
padding: 0;
color: inherit;
font: inherit;    
outline: none;
box-sizing: border-box;
text-decoration: none;
}

body{
font-weight: 400;
font-size: 20px;
line-height: 150%;
font-family: "Graphik", sans-serif;
}

.container{
max-width: calc(1290px + 40px);
margin: 0 auto;
padding: 0 20px;
}

h1,h2,h3,h4,h5,h6, button{
font-weight: 400;  
}

h1{
font-size: 65px;
line-height: 70px;
}

.flex{
display: flex;
}

.btn{
background: var(--white);
height: 60px;
font-size: 16px;
padding: 0 20px;
color: var(--black);
border: 1px solid rgba(0, 0,0, 0.5);
}

.btn.primary{
background: var(--primary);
color: var(--white);
border: 1px solid var(--primary);
}

.btn.secondary{
background: var(--black);
color: var(--white);
border: 1px solid var(--black);
}
    
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

header.btn{
width: 120px;   
}

header nav a:not(:lost-child){
    margin-right:42px;
}

header .btn-group{
margin-left: auto;
}

.header-content{    
gap: 50px;
padding: 25px 0 24px;
}

.header-content .btn{    
height: 45px;
}

.header-content .btn-group{
 gap:10px
}