@import '.fontlesson8.css';

*{
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;    
    outline: none;
    box-sizing: border-box;
 /*border: 0.001px solid black; */   
}

body{
    font-weight: 400;
    background:#eeeff1;
    color: #000;
    font-size: 16px;
    line-height: 1.64;
    font-family: "Graphik";
 }

.header{
    width: 1440px;
    height: 95px;
    padding: 31px 0px 24px 0px;
    display: flex; 
    border-bottom: 1px solid grey;   
    margin: 0 auto; 
}

.header-logo{    
    width: 130px;
    height: 28px;
    display: flex;
    margin: 0 51px;
}

.nav{
    margin-right: 305px;
    text-decoration: none;
    width: 592px;
    height: 40px;    
    }

.nav a:not(:last-of-type){
    margin-right: 42px;
}
.nav a:last-of-type{
    margin-right: 35px;
}

.nav-item1 {
    width: 73px;
    height: 40px;
    color: #000000;    
    font-weight: 400;
    font-size: 15px;    
    text-decoration: none;
}
.nav-item2 {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;  
    width: 77px;
    height: 40px;
}
.nav-item3 {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;   
    width: 51px;
    height: 20px;
}
.nav-item4 {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    width: 98px;
    height: 20px;
}
.nav-item5 {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    width: 90px;
    height: 22px;
}

.btn1{
    width: 260px;
    height: 46px;
}

.Log{
    background-color: white;
    color: #000000;
    text-decoration: none;
    padding: 22.5px 36px;
    font-weight: 700;
    border: 1px solid black;  
    margin: 0px 10px;
    width: 120px;
    height: 45px;
}

.Try{
    background-color: #FF7400;
    color: white;
    text-decoration: none;
    padding: 22.5px 22px 22.5px 21px;
    font-weight: 700;  
    width: 120px;
    height: 45px; 
}

.section-1{    
    width: 1290px;
    height: 628px;
    display: flex;
    margin: 97px auto 147px auto;
    /*margin:97px 75px 147px 75px ; */  
}

.container-21{
    width: 531px;
}

.Accelerate{
font-size: 65px;
font-weight: 600;
line-height: 70px;
letter-spacing: 0em;
text-align: left;
color: black;
width: 552px;
height: 210px;
margin: 32px 0px 51px 0px;
}

.Localization{
font-size: 25px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
width: 471px;
height: 140px;
margin: 0px 0px 30px 0px;
}

.container-22{
    width: 552px;
   height: 80px;
    margin: 30px 0px 25px 0px;
    padding: 20px 0 0 0;  
}

.Try2{
    background-color: #FF7400;
    color: white;
    text-decoration: none;
    padding: 22.5px 41px 22.5px 42px;
    font-weight: 700;  
    width: 160px;
    height: 60px; 
}

.Bookademo{
    background-color: white;
    color: #000000;
    text-decoration: none;
    padding: 23.5px 36px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.5);  
    margin-left: 10px;
    width: 160px;
    height: 60px;     
}

.container-23{
    margin-bottom: 35px;
    color: #000000;
    font-family: Graphik LC TT;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
width: 369px;
height: 25px;
}

.flag{  
    width: 759px;
    height: 529px;
    margin:54px 0px 45px 0px;
}















.section-2{
padding-top: 98px;
background: #FF9C7D;
height: 455px;

}

.container-3{
    margin: auto;
    width: 1290px;
    height: 435px; 

}

.Thepreferred{
width: 720px;
height: 120px;
font-family: Graphik LC TT;
font-size: 50px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
margin: 0px 230px 70px 340px;
}

.img6{
text-align: center;  
margin: 0px 0px 0px 0px;
letter-spacing: 103px;
align-items: center;
width: 1290px;
height: 53px;
margin: 0px 0px 94px 0px;
}










.section-3{
margin: 100px 75px 250px 75px;
width: 1290px;
height: 632px;
display: flex;
margin: auto;
}

.Control{
    margin: 145.5px 0px 145.5px 0px;
    width: 657.91px;
    height: 341px;
}

.f1{
    font-family: Graphik LC TT;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    width: 493px;
    height: 120px;
    margin: 5.5px 0px 30px 0px;
}

.f2{
    font-family: Graphik LC TT;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
    color: rgba(0, 0, 0, 1);
    width: 491px;
    height: 120px;
    margin: 0px 0px 30px 0px;
}

.f3{
    font-family: Graphik LC TT;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

    color: rgba(0, 0, 0, 1);
    width: 96px;
    height: 30px;
    margin: 0px 0px 5.5px 0px;
}

.img7{   
    width: 632px;
    height: 632px;
}












.section-4{
    margin: 100px 75px 250px 75px;
    width: 1290px;
    height: 632px;
    display: flex;
    margin: auto;
    }
    
    .Control{
        margin: 145.5px 0px 145.5px 0px;
        width: 657.91px;
        height: 341px;      
    }
    
    .Shorten{
        font-family: Graphik LC TT;
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        width: 379px;
        height: 120px;
        margin: 5.5px 141px 30px 137.91px;
    }
    
    .Localize{
        font-family: Graphik LC TT;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        
        color: rgba(0, 0, 0, 1);
        width: 519.92px;
        height: 120px;
        margin: 0px 70px 35.5px 137.91px;
    }
    
    .f3{
        font-family: Graphik LC TT;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
        color: rgba(0, 0, 0, 1);
        width: 96px;
        height: 30px;
        margin: 5.5px 424px 115px 137.91px;
    }
    
    .img8{   
        width: 632px;
        height: 632px;
    }



















.section-5{
background: #FFF8E4;
height: 1033px; 
padding-top: 120px;
}
        
.container-4{
font-family: Graphik LC TT;
font-size: 50px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
color: #000000;          
margin: 0px auto 58px auto;
width: 890px;
height: 60px; 
}
        
.img9{
text-align: center;
letter-spacing: 103px;
align-items: center;
width: 1290px;
height: 351px; 
display: flex;  
margin: 0 auto;
}

.icon{
width: 330px;
height: 294px;           
text-align: center; 
margin: 0 110px 57px 40px;
align-items: center;
padding-top: 21px;
}
.icon:not(:last-of-type){
    margin-right: 40px;
}

.text11{font-family: Graphik LC TT;
font-size: 25px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
margin: 10px 105px 23px 105px;
width: 120px;
height: 35px;       
}

.text12{
font-family: Graphik LC TT;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
width: 303px;
height: 75px; 
margin: 0 13px 3px 14px;
display: flex; 
}

.text21{font-family: Graphik LC TT;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin: 10px auto 22px auto;
    width: 229px;
    height: 35px;       
    }
    
    .text22{
    font-family: Graphik LC TT;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    width: 330px;
    height: 75px; 
    display: flex; 
    }

    .img10{
        text-align: center;
        letter-spacing: 103px;
        align-items: center;
        width: 1290px;
        height: 351px;   
        display: flex;  
        margin: 0 auto;
    }


.section-6{
width: 1290px;
height: 998px;    
margin: 0 auto;
}

.container-5{
width: 1290px;
height: 60px; 
font-family: Graphik LC TT;
font-size: 50px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
margin: 154px 0 25px 0;
}

.container-6{
width: 1290px;
height: 620px; 
margin: 25px 0 25px 0;
display: flex; 
}
    
.container-61{
width: 430px;
height: 609px; 
margin: 25px 0 25px 0;
}

.text61{
font-family: Graphik LC TT;
font-size: 30px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
margin: 49px 275px 34px 0;
}

.text62{
font-family: Graphik LC TT;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-right: 30px;
}

.section-7{
    background: #C9E8F2;
    width: 1440px;
    height: 468px; 
    margin: 0 auto;  
    display: flex; 
    padding-top: 45px;
}

.container-71{
    width: 895px;
    height: 275px; 
    margin: 0 75px;
}

.container-72{
font-family: Graphik LC TT;
font-size: 30px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
width: 895px;
height: 160px; 
}

.container-73{
font-family: Roboto;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
width: 271.58px;
height: 25px; 
margin: 23px 0 7px 0;
}

.container-74{
width: 115.22px;
height: 25.04px;  
}




.section-8{
    background: #DABC98;
    width: 1440px;
    height: 332px; 
    margin: 0 auto;  
    display: flex; 
    padding-top: 69px;
}

.container-81{
    width: 176px;
    height: 154px; 
    margin: 90px 67px 88px 54px;
}
.container-82{
    width: 461px;
    height: 100px; 
    font-family: Graphik LC TT;
font-size: 35px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
margin: 116px 125px 111px 0px;
}

.container-85{
    width: 481px;
    height: 168px; 
    border-left: 1px #000000 solid;
    margin: 79px 75px 84px 0px;
    display: flex;
}

.container-83{
    width: 128px;
    height: 116px; 
    margin: 30px 70px 22px 71px;
}
.container-84{
    width: 150px;
    height: 116px; 
    margin: 30px 62px 22px 0px;
}







.section-9{
    width: 1290px;
    height: 841px; 
    margin:0 auto;
    text-align: center;
}

.container-91{
    width: 791px;
    height: 150px; 
    font-family: Graphik LC TT;
font-size: 65px;
font-weight: 600;
line-height: 75px;
letter-spacing: 0em;
text-align: center;
margin:169px auto 0 auto;
}

.container-92{
    width: 539px;
    height: 60px; 
    font-family: Graphik LC TT;
font-size: 25px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin:0 auto 25px auto;
}
  
.container-93{
    width: 1023px;
    height: 445px;
    margin:0 auto 32px auto;
}

.container-94{
    margin: 32px auto 120px auto;
    text-align: center;
}

.seeallintegrations{
    background-color: #FF7400;
    color: white;
    text-decoration: none;
    padding: 22.5px 20px 22.5px 20px;
    font-weight: 700;  
    width: 193px;
    height: 60px;   
}










.section-10{
    width: 1290px;
    height: 645px;   
    text-align: center;
    background: #FF9C7D;
    margin-inline: auto;
    padding-top: 161px;
}

.container-101{
    
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    width: 784px;
    height: 150px;  
    margin: 0 auto 29px auto;
    text-align: center;
}

.container-102{
    font-family: "Graphik" sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto 54px auto;
    text-align: center;
}

.Tryitfree3{
    background: #000000;
    color: white;
    text-decoration: none;
    padding: 22.5px 40px 22.5px 40px;
    font-weight: 600;  
    width: 160px;
    height: 60px; 
    margin: 0 auto 161px auto;
    text-align: center;
}










.footer{
    width: 1440px;
    height: 900px; 
    padding: 92px 55px 48px 55px ;
    display: flex;
}

.container-11.1{
    width: 1290px;
    height: 682px;  
    display: flex;
}

.container-11.11{
    width: 370px;
    height: 587px;  
}


.container-11.12{
    width: 187px;
    height: 300px;  
    display: flex;
    margin: 30px 45px 50px 380px;
}








/*
.container-12.1{
    width: 1290px;
    height: 30px;  
    display: flex;
    margin: 0 14px 0 0;
   
}

.lokalisefooter{
    width: 90px;
    height: 21px;  
    display: flex;
}

.container-12.2{
    width: 301px;
    height: 30px;  
    margin: 5px 700px 5px 0;
}

.container-13.1{
    width: 109px;
    height: 30px; 
    margin-right: 76px;
}
*/